/downloads
/data

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# Node.js
node_modules/

# 환경 변수 파일
.env

# 로그 파일
*.log

# IDE 설정 폴더
.vscode/
.idea/

.venv/
venv/

# 개발 전용 스크립트 무시
start.sh

# 테스트 데이터 제외
tests/resources/